In [1]:
import pandas as pd 
import numpy as np
import math

# DT 문제 1번

#### ※함수에 들어가 있는 변수나 flow는 본인이 바꾸셔도 가능하며 결과만 똑같이 나오면 됩니다!
#### ※hard코딩(이 데이터셋에만 적용되는 코딩방법) 말고 전체 데이터에 적용 가능하게 함수를 짜주셔야 합니다.

# Data Loading

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
pd_data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

# 1. Gini 계수에 대한 함수 만들기.

- Input은 Dataframe과 label이름으로 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다!

In [3]:
rows=len(pd_data)
rows

14

In [4]:
list(pd_data['class_buys_computer']).count('yes')

9

In [6]:
pd_data['age'].unique()

array(['youth', 'middle_aged', 'senior'], dtype=object)

In [9]:
def get_gini(df, label):
    aa = df[label].value_counts()  #label 분포 
    # gini index를 구하고자 하는 feature가 label yes no의 비율
    # label 분포
    a_class=aa.index
    a_counts=aa.values
    mother=len(df[label])
    gini=1
    for value in a_counts:
        gini-=(value/mother)**2
    return gini

In [10]:
get_gini(pd_data, 'class_buys_computer')

0.4591836734693877

# 2. Feature의 Class를 이진 분류로 만들기
## ex) {A,B,C} -> ({A}, {B,C}), ({B}, {A,C}), ({C}, {A,B})
- Powerset은 모든 조합을 뱉어내게 됩니다. 이건 그냥 완성된걸 드릴게요.

In [23]:
def get_powerset(feature_class):
    power_set=[[]]
    for elem in feature_class:
        for sub_set in power_set:
            power_set=power_set+[list(sub_set)+[elem]]
    return power_set

In [27]:
get_powerset(pd_data.age.unique())

[[],
 ['youth'],
 ['middle_aged'],
 ['youth', 'middle_aged'],
 ['senior'],
 ['youth', 'senior'],
 ['middle_aged', 'senior'],
 ['youth', 'middle_aged', 'senior']]

- 저 위에 부분 집합 중 우리가 원하는 집합(이진 분류)만 골라 내야하겠죠?
- 그 함수를 get_binary_split로 완성해주세요!
- 완성된 내용은 다음과 같이 나와야 합니다.

In [28]:
def get_binary_split(df, attribute):
    fullset=get_powerset(df[attribute].unique())    
    result=fullset[1:len(fullset)-1]
    result = [list(i) for i in result]
    return result

In [29]:

list(get_binary_split(pd_data, "age"))

[['youth'],
 ['middle_aged'],
 ['youth', 'middle_aged'],
 ['senior'],
 ['youth', 'senior'],
 ['middle_aged', 'senior']]

# 3. 다음은 모든 이진분류의 경우의 Gini index를 구하는 함수 만들기
- 위에서 완성한 함수를 사용하여 만들어주세요!
- DataFrame의 index를 사용하여 만들면 굉장히 편합니다..! 예시를 아래에서 보여드릴게요.
- 결과는 아래 아래 아래 줄과 같아야 합니다.

In [14]:
A = set([1,2,3])
B = set([3,4,5])
print(A.union(B))
#A와 B의 합집합
#0~6개의 행을 뽑아 옴. 
pd_data.loc[A.union(B)]

{1, 2, 3, 4, 5}

           age  income student credit_rating class_buys_computer
1        youth    high      no     excellent                  no
2  middle_aged    high      no          fair                 yes
3       senior  medium      no          fair                 yes
4       senior     low     yes          fair                 yes
5       senior     low     yes     excellent                  no

In [119]:
#list(pd_data.loc[list(pd_data[(pd_data.age=='youth')].index)]['class_buys_computer']).count('yes')
len(pd_data)

14

In [52]:
#데이터,x,y
def get_attribute_gini_index(df, attribute, label):
    #attribute의 부분집합에서 필요한 집합만을 뽑고
    split_list=list(get_binary_split(df, attribute))
    print(split_list)
    result = {}
    gini_1=gini_2=None
    for i in range(len(split_list)):
        if(len(split_list[i])==1):
            gini_1=get_gini(df[df[attribute]==str(split_list[i][0])],label)
            gini_2 = get_gini(df[df[attribute] != str(split_list[i][0])], label)
            nrow = df[df[attribute] == split_list[i][0]].shape[0]#나머지 데이터 gini 계수 구하기
        else:
            a=split_list[i]
            d1=pd.DataFrame()
            for k,j in enumerate(a):
                d=df[df[attribute]==j]
                d1=pd.concat([d1,d])
                print(d1)
            print(d1.index)
            # 나머지 데이터
            d2=pd_data.drop(d1.index)
            gini1=get_gini(d1,label)
            gini2=get_gini(d2,label)
            nrow=d1.shape[0]
            split_list[i] = (split_list[i][0] + "_" + split_list[i][1]).split()
        result[split_list[i][0]] = (nrow/df.shape[0])*gini_1 + (1-(nrow/df.shape[0]))*gini_2
    return result

In [53]:
get_attribute_gini_index(pd_data, "age", "class_buys_computer")

[['youth'], ['middle_aged'], ['youth', 'middle_aged'], ['senior'], ['youth', 'senior'], ['middle_aged', 'senior']]
      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes
            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
Int64Index([0, 1, 7, 8, 10, 2, 6, 11, 12], dtype='int64')
      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes
       age  income student credit_rating class_buys_computer
0    youth    high      no          fair                  no
1    youth    high      no     excellent                  no
7    youth  medium      no          fair                  no
8    youth     low     yes          fair                 yes
10   youth  medium     yes     excellent                 yes
3   senior  medium      no          fair                 yes
4   senior     low     yes          fair                 yes
5   senior     low     yes     excellent                  no
9   senior  medium     yes          fair                 yes
13  senior  medium      no     excellent                  no
Int64Index([0, 1, 7, 8, 10, 3, 4, 5, 9, 13], dtype='int64')
            age  income student credit_rating class_buys_computer
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
            age  income student credit_rating class_buys_computer
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
9        senior  medium     yes          fair                 yes
13       senior  medium      no     excellent                  no
Int64Index([2, 6, 11, 12, 3, 4, 5, 9, 13], dtype='int64')

{'youth': 0.3936507936507936,
 'middle_aged': 0.35714285714285715,
 'youth_middle_aged': 0.17857142857142855,
 'senior': 0.45714285714285713,
 'youth_senior': 0.46984126984126984,
 'middle_aged_senior': 0.46730158730158733}

- 여기서 가장 작은값으로 분류를 해야겠죠?

In [35]:
min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items())

('middle_aged', 0.35714285714285715)

# 다음의 문제를 위에서 작성한 함수를 통해 구한 값으로 보여주세요!
## 문제1) income의 이진분류를 얻는 함수 get_binary_split(pd_data, "income")을 통해 보여주세요.

## 문제2) 가장 Gini계수가 !낮!은 Feature 즉 분류를 하는데 가장 중요한 변수를 선정하시고 get_attribute_gini_index함수를 통해 Gini index를 제시해주세요.

## 문제3) 2에서 구한 Feature로 DataFrame을 분류 해주시고 나눠진 2개의 클래스에서 각각 다음으로 중요한 Feature를 선정해주시고 Gini index를 제시해주세요.

## - 문제 1)

In [36]:
get_binary_split(pd_data, "income")

[['high'],
 ['medium'],
 ['high', 'medium'],
 ['low'],
 ['high', 'low'],
 ['medium', 'low']]

## - 문제2)

In [37]:

#모든 칼럼 이진분류 조사해 frist split feature 선정

columns=list(pd_data.columns)
min_feature=[]


for i in columns:
    print(i,"의 이진분류의 gini 최소값",min(get_attribute_gini_index(pd_data,i, "class_buys_computer").items()))

age 의 이진분류의 gini 최소값 ('middle_aged', 0.35714285714285715)
income 의 이진분류의 gini 최소값 ('high', 0.4428571428571429)
student 의 이진분류의 gini 최소값 ('no', 0.3673469387755103)
credit_rating 의 이진분류의 gini 최소값 ('excellent', 0.42857142857142855)
class_buys_computer 의 이진분류의 gini 최소값 ('no', 0.0)

## 결과) gini 계수를 이용한 CART 알고리즘
frist feature는 age,Binary split은 middle_aged/ senior,youth 로 한다.

## - 문제 3

In [38]:
index_i=list(pd_data[(pd_data["age"]=='middle_aged')].index)
print(index_i)
index_e=list(pd_data[(pd_data["age"]!='middle_aged')].index)
#midlle_aged/ youth, senior 로 데이터 분할

df_m=pd_data.loc[index_i]
df_em=pd_data.loc[index_e]

[2, 6, 11, 12]

### second split feature 구하기

- df_m ('age'- middle aged)

In [39]:
#frist split feature 였던 age delete
#del df_m['age']
df_m
# df_m 데이터는 모든 feature에서 class_buys_computer값이 'yes'임으로 더이상 가지 치기를 하지 않아도 된다. (모든 경우에서 확률이 1이기 때문)

            age  income student credit_rating class_buys_computer
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes

- df_em ('age'-senior, youth)

In [40]:
#middle_aged data
del df_em['age']

In [41]:
columns=list(df_em.columns)
for i in columns:
    print(i,"의 이진분류의 gini 최소값",min(get_attribute_gini_index(df_em,i, "class_buys_computer").items()))

income 의 이진분류의 gini 최소값 ('high', 0.375)
student 의 이진분류의 gini 최소값 ('no', 0.31999999999999984)
credit_rating 의 이진분류의 gini 최소값 ('excellent', 0.4166666666666667)
class_buys_computer 의 이진분류의 gini 최소값 ('no', 0.0)

In [42]:
df_em['student'].unique()

array(['no', 'yes'], dtype=object)

### 결과) student의 gini 계수가 가장 작음으로, df_em 데이터의 두번째 split feature는 student가 됨이 바람직 하다.